<style type="text/css">
  body { margin-left: 10%; margin-right: 10%; font-family: "Times New Roman", serif;  bgcolor="#FFFFFF" text="#000000" }
  h1 { text-align: center; margin-top: 2em; margin-bottom: 2em; font-size: 200%; font-weight: bold;font-family: "Times New Roman", serif; }
  h1.center { text-align: center; text-align: center; margin-top: 2em; margin-bottom: 2em; font-size: 200%; font-weight: bold;font-family: "Times New Roman", serif; }
  h1.top { text-align: center; margin-top: 0em; margin-bottom: 2em; font-size: 200%; font-weight: bold;font-family: "Times New Roman", serif; }
  h1.topshallow { text-align: center; margin-top: 0em; margin-bottom: 1em; font-size: 200%; font-weight: bold;font-family: "Times New Roman", serif; }
  h2 { margin-left: 0; margin-top: 1em; margin-bottom: 1em; font-size: 150%; font-weight: bold; font-family: "Times New Roman", serif; }
  h2.center { text-align: center; margin-left: 0; margin-top: 1em; margin-bottom: 1em; font-size: 150%; font-weight: bold; font-family: "Times New Roman", serif; }
  h2.shallow { margin-left: 0; margin-top: .5em; margin-bottom: .5em; font-size: 150%; font-weight: bold; font-family: "Times New Roman", serif; }
  h3 { margin-top: 2em; margin-bottom: 1em; font-size: 100%; font-weight: bold; font-family: "Times New Roman", serif; }
  h3.center { text-align: center; margin-top: 2em; margin-bottom: 1em; font-size: 100%; font-weight: bold; font-family: "Times New Roman", serif; }
  h3.underline { margin-top: 2em; margin-bottom: 1em; font-size: 100%; font-weight: bold; font-family: "Times New Roman", serif; text-decoration: underline; }
  h4 { margin-top: 2em; margin-bottom: 1em; font-size: 100%; font-style: italic font-family: "Times New Roman", serif; }
  h4.center { text-align: center; margin-top: 2em; margin-bottom: 1em; font-size: 100%; font-style: italic font-family: "Times New Roman", serif; }
  h5 { margin-top: 2em; margin-bottom: 1em; font-size: 100%; font-family: "Times New Roman", serif; }
  h5.center { text-align: center; margin-top: 2em; margin-bottom: 1em; font-size: 100%; font-family: "Times New Roman", serif; }
  ul { margin-top: 2em; margin-bottom: 2em; font-size: 100%; font-family: "Times New Roman", serif; }
  ol ul { margin-top: 2em; margin-bottom: 2em; font-size: 100%; font-family: "Times New Roman", serif; list-style-type: disc; }
  ul.compact {  margin-top: 0em; margin-bottom: 0em; font-size: 100%; font-family: "Times New Roman", serif; }
  ol ul.compact {  margin-top: 0em; margin-bottom: 0em; font-size: 100%; font-family: "Times New Roman", serif; list-style-type: disc;}
  ul.none { list-style-type: none; }
  ul.indent { margin-left: 3em; }
  ol { margin-top: 1em; margin-bottom: 1em; font-size: 100%; font-family: "Times New Roman", serif; }
  ol.compact { margin-top: 0em; margin-bottom: 0em; font-size: 100%; font-family: "Times New Roman", serif; }
  ol.indent { margin-left: 3em; }
  li { margin-top: 0em; margin-bottom: 0em; }
  pre { margin-top: 0; margin-bottom: 0; font-family: "Times New Roman", serif; }
  pre.offset { margin-top: 1em; margin-bottom: 1em; font-family: "Times New Roman", serif; }
  a.plain { text-decoration: none; }
  tt { font-family: monospace; }
  table { border: "border"; cellspacing: 2; cellpadding: 2; }
  table.noborder { border: "none" cellspacing: 2; cellpadding: 2; }
  table.noborder_indent { border: "none" cellspacing: 2; cellpadding: 2; margin-left: 4em; }
  table tr td { }
  table tr td.top { vertical-align: "top"; }
  table tr th { }
  table tr th.top { vertical-align: "top"; }
  table tr th.topright { vertical-align: "top"; text-align: "right"; }
  table tr th.center { vertical-align: "center"; text-align: "center"; }
  p { text-indent: 0; margin-top: 0; margin-bottom: 1em; margin-right 2em; font-family: "Times New Roman", serif; }
  p.center { text-align: center; }
  p.indent { margin-left: 4em; }
  p.quote { margin-left: 5em; margin-right: 5em; }
  p.footnote { margin-left: 0; font-size: 80%; }
  p.section { text-align: left; text-indent: -4em; margin-left: 4em; }
  p.article { text-align: left; font-weight: bold; }
  p.underline { text-decoration: underline; }
  span { }
  span.underline { text-decoration: underline; }
  span.bold { font-weight: bold; }
  span.italic { font-style: italic; }
  span.bolditalic { font-weight: bold; font-style: italic; }
  span.tt { font-family: monospace; font-size: 125%; }
  span.smaller { font-size: 80%; }
  span.larger { font-size: 125%; }
  span.copyrt { font-size: 80%; }
  em { font-style: italic; font-weight: bold; }
  strong { text-transform: uppercase;  font-weight: bold; }
  :link { color: rgb(0, 0, 153) }
  :visited { color: rgb(153, 0, 153) }
  :active { color: rgb(255, 0, 102) }
  :hover { color: rgb(0, 96, 255) }
</style>
